/* Vars */
/* Mixin */
header {
  color: #666;
  background-color: rgba(255, 255, 255, 0.4);
}
header .main-color {
  color: #c11b21;
}
header .header-top {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}
header .header-top:last-child {
  border: none;
}
header .header-top .top-section {
  font-size: 13px;
  line-height: 30px;
  position: relative;
  display: inline-block;
  float: right;
  height: 30px;
}
header .header-top .top-section .show-top-header {
  line-height: 30px;
  height: 30px;
  padding: 0 0 0 10px;
  border-left: 1px solid #ccc;
}
header .header-top .top-section:hover .show-top-header,
header .header-top .top-section:active .show-top-header {
  margin: -1px -1px 0 0;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: 0;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.3);
}
header .header-top .top-section .first-top-section {
  padding-right: 10px;
  border-left: 1px solid #eee;
}
header .logobg a img {
  width: 100%;
  max-width: 70px;
  margin: 5px auto;
}
header .glyphicon {
  font-size: 15px;
}
header .toggle-area {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  display: inline-block;
  margin: 0 0 0 3px;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  vertical-align: bottom;
  white-space: nowrap;
  border-left: 1px dashed #ddd;
  border-radius: 0;
  background-image: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
header .caret {
  margin: 0;
}
header .dropdown-menu {
  left: -1px;
  margin-top: -1px;
  padding: 0;
  border-top: 0;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.3);
}
nav .navbar {
  min-height: 40px;
  border-radius: 0;
  background-color: #222;
}
.goog-te-gadget .goog-te-combo {
  margin: 1px 0!important;
}
.cart-block {
  display: inline-block;
  float: left;
  min-width: 20px;
  min-height: 50px;
  margin: 23px 0 23px 23px;
}
.quarter-cart {
  display: block;
  min-width: 40px;
  height: 25px;
}
.quarter-cart .number {
  display: block;
  color: white;
  border-top-left-radius: 30% 50%;
  border-top-right-radius: 30% 50%;
  border-bottom-right-radius: 30% 50%;
  border-bottom-left-radius: 30% 50%;
  background-color: #c11b21;
}
.quarter-cart .cart-name {
  font-size: 17px;
}
.bg-grey {
  padding-top: 20px;
  background-color: #eee;
}
.inner-edge-shadow {
  background-color: white;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
.half-block {
  display: inline-block;
  float: left;
  min-width: 40px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}
.half-block .glyphicon {
  font-size: 30px;
  line-height: 1.47;
}
.half-block .user-in {
  line-height: 50px;
}
.cart-block:hover .cart-name,
.cart-block:hover .glyphicon {
  color: #c11b21;
}
.user-account {
  display: inline-block;
  float: left;
  min-width: 20px;
  min-height: 50px;
  margin: 23px 0 23px 23px;
}
.no-link-style {
  color: inherit;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  position: relative;
  float: left;
  width: 20%;
  width: calc( 100%/5);
  min-height: 285px;
  margin: 0;
  margin-left: 0;
  padding: 0;
}
.woocommerce ul.products li.product a img {
  max-width: 220px;
  max-height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.woocommerce .woocommerce-breadcrumb {
  margin: 0;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
  height: 28px;
  min-height: 28px;
  margin: 10px 0 10px;
  padding: 0;
}
.woocommerce ul.products li.product .button {
  margin-top: 3px;
}
.woocommerce ul.products li.product:hover .woocommerce-loop-product__title {
  height: auto;
}
.woocommerce ul.products li.product:hover .item {
  z-index: 2;
  height: auto;
  -webkit-transition: box-shadow 0.25s linear, min-height 0.35s linear;
  transition: box-shadow 0.25s linear, min-height 0.35s linear;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.13);
}
.woocommerce ul.products li.product .item {
  position: absolute;
  width: 100%;
  min-height: 300px;
  padding: 8px 5px 7px 5px;
  -webkit-transition: box-shadow 0.25s linear, min-height 0.35s linear;
  transition: box-shadow 0.25s linear, min-height 0.35s linear;
  border: 1px solid transparent;
}
.woocommerce ul.products li.product .onsale {
  top: 0;
  right: 8px;
  margin: 0;
}
.woocommerce span.onsale {
  font-size: 1.2em;
  font-weight: 900;
  z-index: 2;
  text-transform: uppercase;
  color: #c11b21;
  background-color: transparent;
}
.woocommerce ul.products li.product .price {
  font-size: 1.2em;
  font-weight: 700;
  display: block;
  margin-bottom: .5em;
  text-align: center;
  color: #c11b21;
}
.woocommerce ul.products li.product .price del {
  display: inline-block;
  opacity: .5;
  color: inherit;
}
.woocommerce ul.products li.product .price ins {
  font-weight: 700;
  display: inline-block;
  margin-left: 5px;
  background: 0 0;
}
.woocommerce .products ul,
.woocommerce ul.products {
  padding: 10px 0;
  border-top: 1px solid #999;
}
#secondary {
  margin-top: 80px;
  border-left: 1px solid #999;
}
.woocommerce div.product div.images,
.woocommerce-page div.product div.images {
  float: left;
  width: 48%;
  margin: 0 27px;
}
.woocommerce div.product div.summary,
.woocommerce-page div.product div.summary {
  width: 48%;
  margin: 0 -27px;
  padding: 0 30px;
  border-left: 1px solid #eee;
}
.price-wrapper {
  border-bottom: 1px solid #c11b21;
}
.label-price {
  font-size: 18px;
}
.image-square-thumbnail {
  position: relative;
  /* Extra small devices (phones, less than 768px) */

  /* No media query since this is the default in Bootstrap */

  display: block;
  /* Small devices (tablets, 768px and up) */

  /* Medium devices (desktops, 992px and up) */

  /* Large devices (large desktops, 1200px and up) */

}
@media (min-width: 768px) {
  .image-square-thumbnail {
    min-height: 84px;
  }
}
@media (min-width: 992px) {
  .image-square-thumbnail {
    min-height: 130px;
  }
}
@media (min-width: 1200px) {
  .image-square-thumbnail {
    min-height: 160px;
  }
}
.navbar {
  margin-bottom: 0;
}
.woocommerce nav.woocommerce-breadcrumb {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #c11b21;
}
.woocommerce div.product form.cart div.quantity {
  margin: 0 6px 0 0;
}
.woocommerce div.product form.cart div.quantity .quantity .qty {
  font-size: 18px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  left: auto;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px 40px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: #515151;
  border: 0;
  border-radius: 0;
  background-color: #ebe9eb;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: #C11B21;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: #C11B21;
  color: #fff;
}
.woocommerce .quantity .qty {
  width: 50px;
  height: 50px;
  text-align: center;
}
