/* Vars */

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;


/* Mixin */
.vertical-align(@position: relative)
{
    position: @position;
    top: 50%;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}






header
{
    color: #666;
    background-color: rgba(255, 255, 255, .4);

    a:focus,
    a:active,
    a:hover
    {
        text-decoration: none;

        color: inherit;
    }
    .main-color
    {
        color: #c11b21;
    }
    .header-top
    {
        width: 100%;
        height: 30px;

        border-bottom: 1px solid #ddd;
        background-color: #eee;
        &:last-child
        {
            border: none;
        }
        @media (max-width: 767px)
        {
            ul.nav.navbar-nav
            {
                position: absolute;
                top: 30px;
                right: 0;
            }
        }
        .top-section
        {
            font-size: 14px;
            line-height: 30px;

            position: relative;

            display: inline-block;
            float: right;

            height: 30px;
            @media (max-width: 767px)
            {
                display: block;
                float: none;
                height: auto;
            }
            .show-top-header
            {
                line-height: 30px;

                height: 30px;
                padding: 0 5px;

                border-left: 1px solid #ccc;
                @media (max-width: 767px)
                {
                    height: auto;
                }
            }
            &:hover .show-top-header,
            &:active .show-top-header
            {
                margin: -1px -1px 0 0;

                cursor: pointer;

                border: 1px solid #ccc;
                border-bottom: 0;
                background-color: white;
                box-shadow: 0 0 2px 0 rgba(51,51,51,.3);
            }
            .first-top-section
            {
                padding-right: 10px;

                border-left: 1px solid #eee;
            }
            &.screen-b-1356
            {
                @media (max-width:  1355px)
                {
                    display: none;   
                }
            }
            & .screen-l-1356{
                @media (min-width:  1356px)
                {
                    display: none!important;
                }
            }
        }
    }
    @media (max-width: 767px){
        .navbar-nav .top-section .open .dropdown-menu {
            position: relative;
            background-color: rgb(254, 254, 254);
        }
    }
    .logobg a img
    {
        position: absolute;
        top: -25px;
        left: 30px;

        width: 100%;
        max-width: 96px;
        margin: 0;
    }
    .glyphicon
    {
        font-size: 15px;
    }
    .toggle-area
    {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;

        display: inline-block;

        margin: 0 0 0 3px;
        padding: 5px 5px 5px 10px;

        cursor: pointer;
        text-align: center;
        vertical-align: bottom;
        white-space: nowrap;

        border-left: 1px dashed #ddd;
        border-radius: 0;
        background-image: none;

        -ms-touch-action: manipulation;
            touch-action: manipulation;
    }
    .caret
    {
        margin: 0;
    }
    .dropdown-menu
    {
        left: -1px;

        margin-top: -1px;
        padding: 0;

        border-top: 0;
        border-radius: 0;
        box-shadow: 0 2px 2px 0 rgba(51,51,51,.3);
    }
    a
    {
        color: inherit;
    }
    .navbar-toggle {
      position: relative;
      float: right;
      padding: 0;
      margin-top: 6px;
      margin-right: 0px;
      margin-bottom: 8px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 0; 
      .icon-bar {
            background: #363636 none repeat scroll 0 0;
        }
    }
    .navbar-header
    {
        display: none;
        background-color: transparent;
        @media (max-width: 767px)
        {
            display: inline-block;
            float: right;
        }
    }
    @media (min-width: 768px){
        .collapse {
            display: block;
        }
    }
}
nav
{
    a.wp-mega-menu-link
    {
        color: white;
    }
    .navbar
    {
        min-height: 40px;
        height: 42px;

        border-bottom: 0;
        border-radius: 0;
        background: #5a5a5a; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#5a5a5a, #222); /* For Safari 5.1 to 6.0 */
        background:      -o-linear-gradient(#5a5a5a, #222); /* For Opera 11.1 to 12.0 */
        background:    -moz-linear-gradient(#5a5a5a, #222); /* For Firefox 3.6 to 15 */
        background:         linear-gradient(#5a5a5a, #222);
    }
    #all-products-button
    {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;

        position: relative;

        display: inline-block;
        float: left;

        min-width: 220px;
        height: 100%;
        min-height: 40px;
        padding: 10px 30px;

        text-align: center;

        color: white;
        @media screen and (min-width: 1400px)
        {
            min-width: 250px;
        }
        &:before
        {
            position: absolute;
            top: 0;
            right: 0;

            width: 1px;
            height: 100%;

            content: '';

            background: rgba(255,255,255,.5);
        }
    }
    #all-products-button:hover
    {
        background: #777; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#222, #444); /* For Safari 5.1 to 6.0 */
        background:      -o-linear-gradient(#222, #444); /* For Opera 11.1 to 12.0 */
        background:    -moz-linear-gradient(#222, #444); /* For Firefox 3.6 to 15 */
        background:         linear-gradient(#222, #444);
    }
    #menu-hidden-coll
    {
        position: absolute;
        z-index: 900;
        top: 40px;

        display: none;
        text-align: left;

        min-width: 250px;
        max-width: 250px;

        background-color: #fff;
    }

    #menu-hidden-coll:hover
    {
        display: block;
    }
    .active-menu
    {
        display: block!important;
    }
    .hover-background
    {
        background: #777; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#222, #444); /* For Safari 5.1 to 6.0 */
        background:      -o-linear-gradient(#222, #444); /* For Opera 11.1 to 12.0 */
        background:    -moz-linear-gradient(#222, #444); /* For Firefox 3.6 to 15 */
        background:         linear-gradient(#222, #444);
    }
    .wp-megamenu-main-wrapper.wpmm-orientation-vertical
    {
        position: relative;

        width: 25%;
        min-width: 250px;
    }
    .company-links-menu
    {
        display: inline-block;
        float: left;
        .wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-horizontal.wpmm-orientation-horizontal
        {
            ul.wpmm-mega-wrapper > li
            {
                &:hover
                {
                    background: #777; /* For browsers that do not support gradients */
                    background: -webkit-linear-gradient(#222, #444); /* For Safari 5.1 to 6.0 */
                    background:      -o-linear-gradient(#222, #444); /* For Opera 11.1 to 12.0 */
                    background:    -moz-linear-gradient(#222, #444); /* For Firefox 3.6 to 15 */
                    background:         linear-gradient(#222, #444);
                }
                & > a.wp-mega-menu-link
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 20px;

                    padding: 10px 15px;                 
                    @media screen and (min-width: 992px)
                    {
                        font-size: 10px;
                    }
                    @media screen and (min-width: 1100px)
                    {
                        font-size: 13px;
                    }
                    @media screen and (min-width: 1250px)
                    {
                        font-size: 16px;
                    }
                    @media screen and (min-width: 1500px)
                    {
                        padding: 10px 30px;
                    }

                }
            }
        }
    }
}

.goog-te-gadget .goog-te-combo
{
    margin: 1px 0!important;
}
.cart-block
{
    display: inline-block;
    float: left;

    min-width: 20px;
    min-height: 50px;
    margin: 23px 0 23px 23px;
}
.quarter-cart
{
    display: block;

    min-width: 40px;
    height: 25px;
    .header-cart-count
    {
        display: block;

        color: white;
        border-top-left-radius: 30% 50%;
        border-top-right-radius: 30% 50%;
        border-bottom-right-radius: 30% 50%;
        border-bottom-left-radius: 30% 50%;
        background-color: #c11b21;
    }
    .cart-name
    {
        font-size: 17px;
    }
}
.bg-grey
{
    padding-top: 20px;

    background-color: #eee;
}
.inner-edge-shadow
{
    background-color: white;
    box-shadow: 0 2px 6px rgba(100, 100, 100, .3);
}
.half-block
{
    display: inline-block;
    float: left;

    min-width: 40px;
    height: 50px;

    text-align: center;
    vertical-align: middle;
    & .glyphicon
    {
        font-size: 30px;
        line-height: 1.47;
    }
    & .user-in
    {
        line-height: 50px;
    }
}
.cart-block:hover
{
    .cart-name,
    .glyphicon
    {
        color: #c11b21;
    }
}
.user-account
{
    display: inline-block;
    float: left;

    min-width: 20px;
    min-height: 50px;
    margin: 23px 0 23px 23px;
}
.no-link-style
{
    color: inherit;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product
{
    position: relative;

    float: left;

 
    min-height: 285px;
    margin: 0;
    margin-left: 0;
    padding: 0;
    @media (min-width: 768px)
    {
        width: 20%;
    }
    @media (max-width: 991px) and (min-width: 768px)
    {
        min-height: 200px;
    }
}


.woocommerce ul.products li.product a img
{
    max-width: 220px;
    // max-height: 100%;
    margin: 0 auto;

    vertical-align: middle;

    .vertical-align(absolute);
    @media (max-width: 767px){
        max-width: 100%;
    }
}

.h1,
.h2,
.h3,
h1,
h2,
h3
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.woocommerce .woocommerce-breadcrumb
{
    margin: 0;
}

.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product
{
    max-width: 160px;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title
{
    font-size: 14px;
    line-height: 14px;

    overflow: hidden;

    height: 28px;
    min-height: 28px;
    margin: 5px 0 5px;
    padding: 0;
}
.woocommerce ul.products li.product .button
{
    position: absolute;
    top: 0;

    margin: 0;
    @media (max-width:991px)
    {
        font-size: 11px;
    }
}
.woocommerce ul.products li.product:hover
{
    .woocommerce-loop-product__title
    {
        height: auto;
    }
    .item
    {
        z-index: 2;

        height: auto;

        -webkit-transition: box-shadow .25s linear,min-height .35s linear;
                transition: box-shadow .25s linear,min-height .35s linear;

        border: 1px solid #ccc;
        background: #fff;
        box-shadow: 6px 6px 5px rgba(0,0,0,.4);
        box-shadow: 2px 2px 4px rgba(0,0,0,.13);
    }
}

.woocommerce ul.products li.product .item
{
    position: absolute;

    width: 100%;
    min-height: 300px;
    padding: 8px 5px 7px 5px;

    -webkit-transition: box-shadow .25s linear,min-height .35s linear;
            transition: box-shadow .25s linear,min-height .35s linear;
    // left: 50%;
    // margin-left: -130px;

    border: 1px solid transparent;

    @media (max-width: 991px) and (min-width: 768px)
    {
        min-height: 230px;
    }
}

.woocommerce ul.products li.product .onsale
{
    top: 0;
    right: 8px;
    // left: auto;

    margin: 0;
}
.woocommerce span.onsale
{
    font-size: 1.2em;
    // min-height: 3.236em;
    // min-width: 3.236em;
    // padding: .202em;
    // font-size: 1em;
    font-weight: 900;
    // -webkit-font-smoothing: antialiased;

    z-index: 2;

    text-transform: uppercase;

    color: #c11b21;
    // position: absolute;
    // text-align: center;
    // line-height: 3.236;
    // top: -.5em;
    // left: -.5em;
    // margin: 0;
    // border-radius: 100%;
    background-color: transparent;
}

.woocommerce ul.products li.product .price
{
    font-size: 1.2em;
    font-weight: 700;

    display: block;

    margin-bottom: 0;

    text-align: center;

    color: #c11b21;
}
.woocommerce ul.products li.product .price del
{
    display: inline-block;

    opacity: .5;
    color: inherit;
}
.woocommerce ul.products li.product .price ins
{
    font-weight: 700;

    display: inline-block;

    margin-left: 5px;

    background: 0 0;
}

.woocommerce .products ul,
.woocommerce ul.products
{
    padding: 10px 0;

    border-top: 1px solid #999;
}
#secondary
{
    margin-top: 40px;
    @media screen and (min-width: 768px)
    {
        border-right: 1px solid #999;
    }
}

//Product page

// .woocommerce #content div.product div.images, 
.woocommerce div.product div.images,
// .woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images
{
    float: left;

    width: 40%;
    margin: 0 27px;
}

// .woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary,
// .woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary
{
    width: 55%;
    margin: 0 -27px;
    padding: 0 30px;

    border-left: 1px solid #eee;
}
.price-wrapper
{
    border-bottom: 1px solid #c11b21;
}
.label-price
{
    font-size: 18px;
}

.image-square-thumbnail
{
    position: relative;
    min-height: 200px;
    display: block;
    /* Extra small devices (phones, less than 768px) */
    /* No media query since this is the default in Bootstrap */
    overflow: hidden;
    /* Small devices (tablets, 768px and up) */
    @media (min-width: @screen-sm-min)
    {
        min-height: 84px;
    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min)
    {
        min-height: 130px;
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: @screen-lg-min)
    {
        min-height: 160px;
    }
}

.navbar
{
    margin-bottom: 0;
}

.woocommerce nav.woocommerce-breadcrumb
{
    display: block;

    width: 100%;
    margin-bottom: 22px;
    padding: 6px 0;

    border-bottom: 1px solid #c11b21;
}

.woocommerce div.product form.cart div.quantity
{
    margin: 0 6px 0 0;
    .quantity .qty
    {
        font-size: 18px;

        width: 50px;
        height: 50px;

        text-align: center;
    }
}

// .woocommerce #respond input#submit,
// .woocommerce a.button,
.woocommerce .summary button.button
// .woocommerce input.button
{
    font-size: 20px;
    font-weight: 700;
    line-height: 1;

    position: relative;
    left: auto;

    display: inline-block;
    overflow: visible;

    margin: 0;
    padding: 15px 40px;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;

    color: #515151;
    border: 0;
    border-radius: 0;
    background-color: #ebe9eb;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}
// .woocommerce #respond input#submit.alt,
// .woocommerce a.button.alt,
.woocommerce .summary button.button.alt
// .woocommerce input.button.alt
{
    color: #fff;
    background-color: #c11b21;

    -webkit-font-smoothing: antialiased;
}

// .woocommerce #respond input#submit.alt:hover,
// .woocommerce a.button.alt:hover,
.woocommerce .summary button.button.alt:hover
// .woocommerce input.button.alt:hover
{
    color: #fff;
    background-color: #c11b21;
}

.woocommerce div.product form.cart .variations
{
    font-size: 16px;
}
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce .single_variation_wrap .woocommerce-variation-price span.price
{
    font-size: 30px;
    line-height: 50px;

    color: #c11b21;
}
.woocommerce .woocommerce-variation.single_variation
{
    display: inline-block;

    margin-right: 30px;

    -webkit-transition: all .25s linear;
            transition: all .25s linear;
    vertical-align: top;
}
.woocommerce  .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled
{
    display: inline-block;
}
.woocommerce .quantity .qty
{
    font-size: 16px;

    width: 50px;
    height: 50px;

    text-align: center;
}

::-webkit-scrollbar-track
{
    background-color: rgba(50,50,50,.05);
}
::-webkit-scrollbar element,
::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb element,
::-webkit-scrollbar-thumb
{
    border: 2px solid transparent;
    border-radius: 10px;
    background: 0 0;
    background-color: rgba(50,50,50,.25);
    background-clip: padding-box;
}

.woocommerce a.added_to_cart
{
    font-size: 100%;
    font-weight: 700;
    line-height: 1;

    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;

    display: inline-block;
    display: inline-block;
    overflow: visible;
    // width: ~'calc(100% - 10px)';

    width: 100%;
    margin: 0;
    padding: .618em 1em;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    white-space: nowrap;
    text-decoration: none;

    color: #fff;
    border: 0;
    border-radius: 3px;
    background-color: #c11b21;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}
// .woocommerce ul.products li.product:hover a.added_to_cart
// {
//     top: 0;
//     padding: .618em 1em;
//     display: inline-block;
//     line-height: 1;
//     width: 100%;
// }
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt
{
    color: #fff;
    background-color: #c11b21;

    -webkit-font-smoothing: antialiased;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover
{
    color: #fff;
    background-color: #c11b21;
}

.goog-te-combo,
.goog-te-banner *,
.goog-te-ftab *,
.goog-te-menu *,
.goog-te-menu2 *,
.goog-te-balloon *
{
    font-size: 14px!important;
}

.woocommerce ul.products li.product .star-rating
{
    font-size: 1.2em;

    color: #f7941d;
}
.woocommerce .products .star-rating
{
    display: block;
    float: none;

    margin: 0 auto;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select
{
    border-color: #c1eaa3;
    background-color: #c1eaa3;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select
{
    border-color: #ffa7a7;
    background-color: #ffa7a7;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea
{
    /* border-radius: 4px; */
    font-size: 14px;
    // line-height: 1;
    // box-sizing: border-box;
    // width: 100%;
    // margin: 0;

    padding: 10px 10px;
    // outline: 0;

    background: #eee;
}

tfoot .order-total
{
    color: white;
    background-color: #c11b21;
}

.woocommerce-error
{
    font-size: 16px;

    color: white;
    border-top-color: #b81c23;
    background-color: #7c2323;
}

.woocommerce form.checkout  table.shop_table
{
    float: left;

    width: 50%;

    border-top: 1px solid rgba(0,0,0,.5);
    // margin: 0 -1px 24px 0;
    // text-align: left;
    // width: 100%;
    // border-collapse: separate;
    border-radius: 0;
}

.woocommerce table.shop_table > tbody > tr:nth-child(odd) > td,
.woocommerce table.shop_table > tbody > tr:nth-child(odd) > th
{
    background-color: #eee;
}

.woocommerce form.checkout div[class^='col-1']
{
    width: 50%;
    padding-right: 2%;

    border-right: 1px solid rgba(0,0,0,.2);
}

.woocommerce .woocommerce-product-rating .star-rating,
.woocommerce .woocommerce-product-rating .woocommerce-review-link
{
    font-size: 20px;

    color: #c11b21;
}

// .woocommerce .woocommerce-order section.woocommerce-customer-details > *,
// .woocommerce .woocommerce-order section.woocommerce-customer-details > table.shop_table
// {
//     width: 50%;
//     float: right;
// }

.woocommerce #reviews #comments ol.commentlist li img.avatar
{
    width: 45px;
}
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment
{
    float: left;
    // border-radius: 5px;

    width: 50%;

    background: #fff;
}
#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods
{
    // text-align: left;
    // padding: 1em;
    border-top: 1px solid #7f7f7f;
    border-bottom: none;

    // margin: 0;
    // list-style: none outside;
}
#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li
{
    // line-height: 2;
    // text-align: left;
    // margin: 0;
    // font-weight: 400;
    list-style: none;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order
{
    // float: right;
    font-size: 20px;
}
.woocommerce-order
{
    section.woocommerce-order-details table.shop_table
    {
        float: none;

        width: 100%;
    }
    address
    {
        font-size: 16px;
    }
}


a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.added
{
    position: absolute;
    top: 0;

    margin: 0;
}
div.button-cart-wrapper
{
    position: relative;

    height: 31px;
}

.select2-container--default .select2-selection--single
{
    height: 40px;

    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
{
    // position: absolute;
    // top: 1px;
    // right: 1px;
    width: 15px;
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered
{
    line-height: 37px;
}

#billing_company_field
{
    float: left;
    clear: none;

    width: 47%;
}

#billing_country_field
{
    float: right;
    clear: none;

    width: 47%;
}

#billing_city_field
{
    float: left;
    clear: none;

    width: 32%;
    margin-right: 2%;
}

#billing_state_field
{
    float: left;
    clear: none;

    width: 32%;
    margin-right: 2%;
}

#billing_postcode_field
{
    float: left;
    clear: none;

    width: 32%;
}

.woocommerce  img.header-user-icon,
img.header-user-icon
{
    max-width: 36px;
    max-height: 36px;
    margin: 7px auto;
}

.categorydiv div.tabs-panel,
.customlinkdiv div.tabs-panel,
.posttypediv div.tabs-panel,
.taxonomydiv div.tabs-panel,
.wp-tab-panel
{
    max-height: 350px;
}

div#mega-menu-wrap-primary .right-top-mega-menu-image
{
    position: absolute;
    top: 0;
    right: 0;
}
div#mega-menu-wrap-primary .left-top-mega-menu-image
{
    position: absolute;
    top: 0;
    left: 0;
}

:focus
{
    outline: transparent auto 5px;
}

.woocommerce-ordering
{
    z-index: 399;
}
#search
{
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    article
    {
        -webkit-transition: all .25s linear;
                transition: all .25s linear;
    }
    .list-group-item
    {
        overflow: auto;
        margin: 20px auto;
        border:none;
        a
        {
            display: block;
        }
        img
        {
            display: block;

            width: 100%;
            max-width: 350px;
            max-height: 350px;
            margin: 0 auto;
        }
        &:after
        {
            clear: both;
            display: table;
            content: "";
        }
    }
    .grid-group-item
    {
        overflow: auto;
        float: left;
        width: 50%;
        @media (max-width: 991px)
        {
            &:nth-child(2n+3){
               clear: both;
            }
        }
        @media (min-width: 992px) and (max-width: 1199px){
            width: 33.33%;            
            &:nth-child(3n+4){
               clear: both;
            }
        }
        @media (min-width: 1200px){
            width: 25%;
            &:nth-child(4n+5){
               clear: both;
            }
        }

        .card-image 
        {
            min-height: 200px;
            overflow: hidden;
            min-width: 100%;
            width: 100%;
            a
            {
                display: block;
                min-height: 200px;
                position: relative;
            }
            img
            {
                position: absolute;
                top: 50%;
                width: 100%;
                transform: translateY(-50%);
            }
        }
        .card-caption{
            width: 100%;
            .loop-title{
                text-align: center;
            }
        }
        .page-content{
            display: none;
        }
    }
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover
{
    border-color: #c11b21;
    background-color: #c11b21;
}
.pagination > li > a,
.pagination > li > span
{
    color: #333;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #c11b21;
}

.post-nav
{
    margin: 0 auto;

    text-align: center;
}

div.star-rating
{
    color: #c11b21;
}
#review_form_wrapper #email-notes
{
    display: none;
}
.woocommerce #review_form #respond input,
.woocommerce #review_form #respond textarea,
.woocommerce #review_form #respond p.stars
{
    font-size: 17px;
}
.woocommerce #review_form #respond p.stars,
.woocommerce #review_form #respond p.stars a
{
    color: #c11b21;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover
{
    text-decoration: none;

    color: #fff;
    background-color: #c11b21;
    background-image: none;
}
.wpmm-orientation-vertical ul.wpmm-mega-wrapper > li
{
    border-bottom: none;
}
.wpmm-orientation-vertical ul.wpmm-mega-wrapper li > a.wp-mega-menu-link
{
    padding: 5px 15px;
}

.plvr-slider .slider-caption
{
    background: rgba(0,0,0,.8);
}
.wpmm_megamenu .wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-horizontal ul.wpmm-mega-wrapper li .wpmm-sub-menu-wrap ul.wp-mega-sub-menu > li > a,
.wpmm_megamenu .wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme-1 ul.wpmm-mega-wrapper li .wpmm-sub-menu-wrap ul.wp-mega-sub-menu > li > a
{
    line-height: 1;

    min-height: 20px;
    margin: 0;
    padding: 0;
}
.wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-horizontal .wpmm-sub-menu-wrap ul li h4.wpmm-mega-block-title,
.wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-horizontal .wpmm-sub-menu-wrap ul li.wp-mega-menu-header > a.wp-mega-menu-link span.wpmm-mega-menu-href-title,
.wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme-1 .wpmm-sub-menu-wrap ul li h4.wpmm-mega-block-title,
.wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme-1 .wpmm-sub-menu-wrap ul li.wp-mega-menu-header > a.wp-mega-menu-link span.wpmm-mega-menu-href-title
{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.wpmm-sub-menu-wrap ul > li
{
    margin: 0 -2px 8px;
}

.wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme-1.wpmm-orientation-horizontal,
.wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme-1.wpmm-orientation-vertical
{
    box-shadow: 0 0 10px #888;
}

// .wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme-1.wpmm-orientation-horizontal ul.wpmm-mega-wrapper li .wpmm-sub-menu-wrap, 
// .wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme-1.wpmm-orientation-vertical ul.wpmm-mega-wrapper li .wpmm-sub-menu-wrap {
//   // width: 850px;
//   box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.2);
// }

.wpmm-sub-menu-wrap ul li ul li
{
    margin: 1px 0 1px;
}

img.menu-image-top
{
    position: absolute;
    top: 0;
}

img.menu-image-top-right
{
    position: absolute;
    top: 0;
    right: -10px;
}
img.menu-image-bottom-right
{
    position: absolute;
    right: -10px;
    bottom: 0;
}

.wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme-1.wpmm-orientation-horizontal ul.wpmm-mega-wrapper li .wpmm-sub-menu-wrap,
.wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme-1.wpmm-orientation-vertical ul.wpmm-mega-wrapper li .wpmm-sub-menu-wrap
{
    border: none!important;
}

p.shipping-time-product
{
    font-size: 16px;
    font-weight: 700;
}

#wpmm-wrap-top .textwidget.custom-html-widget
{
    width: 850px;
}
.wpmm-sub-menu-wrap li.wpmega-1columns-2total
{
    @media(min-width: 992px)
    {
        max-width: 290px;
    }

    @media(min-width: 1200px)
    {
        max-width: 400px;
    }
    @media(min-width: 1440px)
    {
        max-width: 500px;
    }
}
.wpmm-sub-menu-wrap
{
    min-height: 498px;
}

a#list.active {
  color: white;
  background: #C11B21;
}

a#grid.active {
  color: white;
  background: #C11B21;
}

.wpmm_megamenu .woocommerce ul.product_list_widget li a {
  font-size: 14px;
}

.wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-horizontal.wpmm-orientation-horizontal ul.wpmm-mega-wrapper li .wpmm-sub-menu-wrap
{
    @media (min-width: 992px)
    {
        width: 100%!important;
    }
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

.woocommerce .yith-wcbr-brands-logo img.attachment-medium.size-medium {
  width: 150px;
}
.screen-b-1440
{
        display: none;
}

.jQuery-plainOverlay-progress {
   border-top: 3px solid #C11B21;
}
.woof_block_html_items input[type="checkbox"], .woof_block_html_items input[type="radio"] {
  width: 18px;
  height: 18px;
  background: #C11B21;
  cursor: pointer;
}

.woof_text_search_container {
    margin: 30px 0px;
}

.easy-autocomplete-container {
    z-index: 500;
}

div.wpcf7-response-output {
    margin: -5px 0px;
    padding: 2em 1em;
}